.sidebar {
    position: fixed;
    top: var(--header-height);
    left: -250px;
    width: 200px;
    height: calc(100vh - var(--header-height));
    background: #000000;
    padding: 50px 20px 20px;
    transition: left 0.3s ease;
    z-index: 1;
}

.sidebar.open {
    left: 0;
    padding-top: 50px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px;
    transition: all 0.3s ease;
}

.sidebar li:hover {
    background-color: #45dd4f91;
}